* {
    box-sizing: border-box;
}

@font-face {
    font-family: light-font;
    src: url(../fonts/Rajdhani-Light.ttf);
}

@font-face {
    font-family: medium-font;
    src: url(../fonts/Rajdhani-Medium.ttf);
    font-weight:300;
}

body,
html {
    font-family: light-font;
    color: white;
    margin: 0;
    padding: 0;
}

.blur-group {
    position: relative;
}

.footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(187, 24, 70, 1) 0%, rgba(255, 255, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
    padding: 20px;
}

.footer-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
}

.footer-item a {
    text-decoration: none;
    color: inherit;
}

.footer-item img {
    display: block;
    height: 30px;
    width: auto;
}

.blurred {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: url('img/play_with_fire.png')  no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(10px);
    position: absolute;
}

.player {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    z-index: 1;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-details{
    margin-top:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative; 
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #FFF;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radious: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
}

.now-playing {
    font-size: 1rem;
}

.track-name {
    font-size: 2.5rem;
    font-family: medium-font;
}

.track-artist {
    font-size: 1.2rem;
    margin-bottom:5px;
    width:110px;
    text-align: center;
    letter-spacing: 0.02em;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.active {
    color: white;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.volume_slider{
    opacity:0;
    position:absolute;
    margin-left:20px;
}


.volume_slider.active {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: rgb(228, 7, 7);
    outline: none;
    opacity:1;
    transition: opacity 0.2s;
    transform: rotate(-90deg);
    position: absolute; 
    top: -29px; 
    left: 75px;
    z-index: 30; 
    width: 45%;
  }
  

.slider-bar::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 3px solid #d5163d;
    background: white;
    cursor: pointer;
    border-radius: 100%;
    background: #ffff00;
}


.slider-bar{
    background:  white;
    border: solid 1px #838283;
    border-radius: 8px;
    height: 8px;
    width: 60%;
    outline: none;
    transition: all 200ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider-bar:hover,
.volume_slider:hover {
   cursor:pointer;
}

.current-time,
.total-duration {
    padding: 10px
}

.volume-down {
    padding: 10px;
    width: 35px;
    height: 35px;
}

.volume-up {
    padding: 10px;
    width: 35px;
    height: 40px;
}

.random,
.prev,
.next,
.repeat,
.pause {
    cursor: pointer;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.pause {
    width: 40px;
    height: 40px;
}