* {
  box-sizing: border-box;
}


@font-face {
  font-family: arcade;
  src: url(./fonts/PressStart2P-vaV7.ttf);
  font-weight: 400;
}


body,
html {
  font-family: arcade;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color:#59aa3a;
  color: black;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: 0 auto;
  width: 90vh;
  height:80vh;
  border-radius: 0px;
  background: #59aa3a;
  box-shadow:  -20px -20px 60px #3f7929,
               20px 20px 60px #73db4b;
}


.item {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  transform-style: preserve-3d;
}

.enemy, .lucky {
  position: absolute;
  left: 50%;
  bottom:2%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 200ms ease;
}

.enemy img, .lucky img {
  padding: 7px;
}


img {
  width: 100%;
  display: block;
}

.hedge {
  width: 8.125rem;
  position: absolute;
  z-index: 3;
}

.mole-appear, .lucky-appear{
  width: 8rem;
  bottom: 45%;
}

