* {
  box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #e0e0e0;
  color: black;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  background-color: #59aa3a;
  margin: 0 auto;
  width: 90vh;
  height:80vh;
  border: 16px solid #a45c3c;
}

.item {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.enemy {
  position: absolute;
  left: 50%;
  bottom:2%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 300ms ease;
}

.enemy img {
  padding: 7px;
}


img {
  width: 100%;
  display: block;
}

.hedge {
  width: 8.125rem;
  position: absolute;
  z-index: 10;
}