* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.open {
    display: flex !important;
    animation: burgerAnimation 0.7s;
}

.close {
    display: flex !important;
    animation: burgerAnimationRev 0.7s;
}

@font-face {
    font-family: forum;
    src: url(../library/fonts/Forum-Regular.ttf);
    font-weight: 900;
}

@font-face {
    font-family: intel-bold;
    src: url(../library/fonts/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: intel-regular;
    src: url(../library/fonts/Inter-Regular.ttf);
    font-weight: 400;
}

header {
    background-color: #0C0C0E;
    overflow: hidden;
    height: 90px;
    font-family: intel-regular;
    color: #FFFFFF;
}

main {
    background-color: #FFFFFF;
    font-family: intel-regular;
}

h1 {
    font-family: forum;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    letter-spacing: 0.02em;
    text-align: left;

}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 90px;
    padding: 0;
}

.container-header a {
    padding-top: 5px;
}

.nav {
    flex: 1;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    margin: 0;
    padding-top: 0;
    padding-left: 30px;
    line-height: 50px;
    transition: 0.3s;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

.nav-link:hover {
    color: #a3a0a0;
    font-weight: bold;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 45px;
    height: 22px;
    cursor: pointer;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.section-welcome {
    position: relative;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('assets/images/Welcome.jpg');
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-welcome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.wrapper-welcome {
    background-color: #0C0C0E;
}

.welcome-container {
    margin-top: 50px;
    padding: 0 40px;
    background-color: #0C0C0E;
    height: 220px;
    width: 600px;
    position: relative;
    z-index: 2;
}

.welcome-container h3 {
    font-family: forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.section {
    padding: 20px 0;
}

#about {
    height: 837px;
}

.section-title {
    margin-bottom: 40px;
}

.section-title h2 {
    font-family: forum;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
    color: #0C0C0E;
}

section .section-title hr {
    width: 50px;
    height: 1px;
    margin-top: 20px;
    color: #0C0C0E;
}

.section-text h3 {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    font-family: intel-regular;
    font-weight: 300;

}

.section-text-coffee h3 {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.9px;
    margin-bottom: 40px;
    font-weight: 400;
    font-family: intel-regular;
}

.slider-container {
    overflow: hidden;
    margin-bottom: 40px;
}

.slider-track {
    display: flex;
    transition: .3s;
    gap: 25px;
}

.left-arrow,
.right-arrow {
    display: none;
    width: 9px;
    height: 9px;
}

.left-arrow {
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(-45deg);
}

.right-arrow {
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
}

.left-arrow:hover {
    border-top: 1px solid #BB945F;
    border-left: 1px solid #BB945F;
    cursor: pointer;
}

.right-arrow:hover {
    border-top: 1px solid #BB945F;
    border-right: 1px solid #BB945F;
    cursor: pointer;
}


.right-arrow.disabled:hover {
    border-top: 1px solid black;
    border-right: 1px solid black;
    cursor: default;
}

.left-arrow.disabled:hover {
    border-top: 1px solid black;
    border-left: 1px solid black;
    cursor: default;
}


.picture-radio-buttons {
    display: flex;
    justify-content: center;
}

.picture-radio-buttons input[type="radio"] {
    display: none;
}

.picture-radio-buttons label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 26px;
    margin-right: 0;
    padding-top: 26px;
}

.picture-radio-buttons input[type="radio"]#forth+label[for="forth"],
.picture-radio-buttons input[type="radio"]#fifth+label[for="fifth"] {
    display: none;
}

.picture-radio-buttons label::before {
    content: "";
    position: absolute;
    top: 50%;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
    opacity: 1;
}

.picture-radio-buttons input[type="radio"]:checked+label::before {
    background-color: #BB945F;
}

.section-paragraph {
    color: #000000;
    font-size: 20px;
    margin-bottom: 40px;
}

.section-paragraph h3 {
    font-family: intel-bold;
}

.container-season {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: intel-regular;
    margin-right: 90px;
    font-family: intel-regular;
    padding-bottom: 0.5em;
}

.radio input[type="radio"]+.radio-label {
    font-size: 20px;
}

.radio input[type="radio"]:checked+.radio-label {
    font-weight: bold;
    font-size: 20px;
}


.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: white;
    border-radius: 100%;
    border: 2px solid #000000;
    display: inline-block;
    width: 13px;
    height: 13px;
    position: relative;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: black;
    box-shadow: inset 0 0 0 3px white;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: black;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 20px;
}


.books-slider-container {
    display: none;
}

.elementToFadeInAndOut {
    animation: fadeOut 1s linear forwards;
}

.elementToFadeIn {
    animation: fadeIn 1s linear 1 forwards;
}

.books-slider-container.active {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 30px;
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.books-slider-container>div {
    width: 550px;
}

.books-slider-container>div:nth-child(2n) {
    margin-right: 40px;
}

.card {
    height: 555px;
    width: 550px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 15px;
    position: relative;
    margin-bottom: 40px;
}

.card h3 {
    font-family: forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.card hr {
    width: 60px;
    height: 1px;
    color: #BB945F;
    background-color: #BB945F;
    border-top: 1px solid #BB945F;
    margin: 0;
    margin-bottom: 18px;
}

.card h4 {
    font-family: intel-bold;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.card h5 {
    font-family: intel-regular;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: capitalize;
    text-align: left;
    font-weight: 400;
    max-width: 355px;
    margin: 0;
}

.author span {
    text-transform: none;
}

.action-button button {
    margin: 0;
    border: 1px solid #000000;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: intel-bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #000000;
    padding: 8px 25px;
    cursor: pointer;
    transition: background-color 0.7s ease;
    position: absolute;
    bottom: 15px;
}

.action-button button:hover {
    background-color: #BB945F;
    border-color: #BB945F;
}

.card img {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: 0;
    right: -40px;
}

.own-buttom button {
    margin: 0;
    border: 1px solid #BB945F;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: intel-bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #BB945F;
    padding: 8px 24px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    cursor: default;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 520px;
}

.menu-cards:last-child {
    text-align: end;
}

.menu-cards h4 {
    font-family: forum;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    letter-spacing: 2px;
    color: #BB945F;
    margin-bottom: 40px;
}

.menu-food {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 40px;
}

.menu-food h5 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
    width: 215px;
    font-family: intel-regular;
    font-weight: 400;
}

.menu-food hr {
    width: 100px;
    border: none;
    border-top: 1px solid #BB945F;
    margin: 0;
    margin-left: 40px;
}

.menu-food h6 {
    font-family: forum;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    letter-spacing: 2px;
    margin-left: 60px;
    color: #000000;
}

.location-card {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 414px;
    margin-bottom: 20px;
}

.card-info img {
    width: 696px;
    margin: 0 15.5px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card-info h3 {
    font-family: intel-bold;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    letter-spacing: 2px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.contant h4 {
    font-family: intel-bold;
    font-size: 20px;
    line-height: 40px;
    margin-top: 40px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: capitalize;
    padding: 0;
    margin-bottom: 0;
}

.contant h5 {
    font-family: intel-regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.telephone a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease-out;
}

section #librarycard {
    height: 614px;
}

.library-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.library-card-info:last-child {
    text-align: end;
}


.user-card-info h3 {
    font-family: intel-regular;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.input-field {
    width: 600px;
    height: 387px;
    border: 3px solid #BB945F;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 17px;
}

.login-form {
    width: 560px;
    height: 272px;
    background-color: #BB945F;
    margin: 17px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form h5 {
    font-family: forum;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    font-weight: 400;
    padding: 0;
    letter-spacing: 0.02em;
}

.login-form p {
    font-family: forum;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    text-align: start;
}

.login-form input {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    border-color: white;
}

input::placeholder {
    color: #8E8E8E;
    font-family: forum;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    padding-left: 20px;
    letter-spacing: 0.02em;
    position: absolute;
    top: 20%;
}

.input-field button {
    border: 1px solid #0C0C0E;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: intel-bold;
    font-size: 20px;
    letter-spacing: 1px;
    color: #0C0C0E;
    padding: 10px 40px;
    cursor: pointer;
    transition: background-color 0.7s ease;
    margin: 0;

}

.input-field button:hover {
    background-color: #BB945F;
    border-color: #BB945F;
}

.user-card-info h4 {
    color: black;
    font-family: forum;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    text-align: end;
}

.user-card-info h5 {
    font-family: intel-regular;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: black;
    font-weight: 400;
    line-height: 40px;
    font-weight: 400;
    width: 460px;
    text-align: end;
}

.log-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.log-button button {
    margin: 0;
    border: 1px solid #000000;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: intel-bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    padding: 0;
    line-height: 30px;
    width: 75px;
    height: 30px;
    transition: all 0.4s ease-out;
}

.log-button button:hover {
    background-color: #BB945F;
    border-color: #BB945F;
}

#coffeeshop {
    padding-top: 0;
}

#contacts {
    padding-top: 40px;
}

.footer {
    background-color: #0C0C0E;
    height: 250px;
    padding: 20px 0;
}

.footer-metadata {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 20px;
}

.location {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.location a {
    font-family: intel-regular;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 20px;
    transition: color 0.3s ease;

}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    list-style-type: none;
}

.footer-item {
    padding-right: 20px;
    padding-top: 20px;
}

.working-hours h5 {
    padding: 0;
    margin: 0;
    font-family: intel-regular;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 20px;
    text-align: end;
    margin-bottom: 10px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 43px;
}

.footer-item-list {
    margin: 0;
    padding: 0;
    font-family: intel-regular;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer-item-list a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: end;
    transition: all 0.4s ease-out;
}

.footer-item-list .school-link {
    margin-left: 50px;
}

.footer-item-list a:hover,
.location a:hover {
    color: #BB945F;
    border-color: #BB945F;
}

.footer-item img:hover {
    opacity: 0.7;
}

.telephone a strong {
    font-family: intel-bold;
    color: black;
    transition: all 0.4s ease-out;
}


.telephone a strong:hover {
    color: #BB945F;
}


.telephone a:hover {
    color: #BB945F;
}

.picture-radio-buttons input[type="radio"]:disabled+label {
    cursor: default;
}

@keyframes burgerAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes burgerAnimationRev {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@media (max-width: 1245px) {


    .books-slider-container.active {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .books {
        position: relative;
        z-index: 1;
    }

    .sticky-navigation {
        position: sticky;
        top: 0px;
        background-color: #FFFFFF;
        z-index: 2;
    }

    #about {
        height: auto;
    }

    .card {
        margin-right: 40px;
    }

    .nav-link {
        font-size: 18px;
    }

    .location-card {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        margin-bottom: 20px;
        gap: 100px;
    }

    .card-info img {
        margin: 0 auto;
    }

    .library-card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .library-card-info:last-child {
        text-align: center;
    }


    .user-card-info h4,
    .user-card-info h5 {
        text-align: center;
    }

    .log-button {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

@media all and (max-width: 1024px) {

    html,
    body {
        width: 100%;
    }

    .wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .burger {
        display: flex
    }

    .container-header .library-name {
        order: 1;
        margin-right: auto;
    }

    .container-header .dropdown {
        order: 3;
        margin-right: 40px;
        z-index: 50;
        /* position: relative; */
    }

    .container-header .burger {
        order: 4;
    }

    .nav {
        display: none;
        flex-direction: column-reverse;
        position: fixed;
        width: 332px;
        height: 570px;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 100px 107px;
        background-color: rgba(12, 12, 14, 1);
    }

    .nav-link {
        font-size: 20px;
    }

    .radio {
        display: flex;
        align-items: center;
        margin: 0;
        padding-bottom: 0.5em;
        font-family: intel-regular;
    }

    .container-season {
        display: flex;
        justify-content: flex-start;
        gap: 90px;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }

    #coffeeshop {
        height: auto;
    }

    .menu {
        flex-wrap: wrap;
        height: auto;
    }

    .menu-cards:last-child {
        margin-left: auto;
    }

    .nav-list {
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-link {
        padding: 0;
        cursor: pointer;
    }

    .nav-link:hover {
        color: #a3a0a0;
        font-weight: bold;
    }
}

@media (max-width: 768px) {

    html,
    body {
        width: 100%;
    }

    .books-slider-container.active {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }


    .about-images {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .slider-container {
        width: 450px;
        position: relative;
    }

    .slider-track {
        display: flex;
        transition: .3s;
        gap: 0;
    }

    .left-arrow,
    .right-arrow {
        display: block;
        position: absolute;
        bottom: 46%;
        z-index: 1;
    }

    .left-arrow {
        left: 69px;
    }

    .right-arrow {
        right: 69px;
    }

    .user-card-info h5 {
        width: 600px;
        margin-top: 40px;
    }

    .footer-item-list .school-link {
        margin-left: 0;
    }

    .picture-radio-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .picture-radio-buttons input[type="radio"]#forth+label[for="forth"],
    .picture-radio-buttons input[type="radio"]#fifth+label[for="fifth"] {
        display: block;
    }

    #contacts {
        padding-top: 0;
    }
}

@media (max-width: 732px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .container-season {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        gap: 50px;
    }

    .card-info img {
        width: 85%;
        margin: 0 15.5px;
        margin: 0 auto;
    }
}

.dropdown-content {
    display: none;
    background: #FFF;
    width: 80px;
    height: 115px;
    position: absolute;
    z-index: 5;
    padding: 5px 1px;
    transform: translateX(-60%);
}

.dropdown-content .sections-title {
    color: #000;
    font-family: intel-regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.dropdown-content .book-number{
    color: #000;
    font-family: intel-regular;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.dropdown-content p {
    color: #000;
    text-align: center;
    font-family: intel-regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.dropdown-content hr {
    width: 40px;
    height: 1px;
    color: #BB945F;
    background-color: #BB945F;
    border-top: 1px solid #BB945F;
    margin: 5px 20px 15px;
}


.dropdown-content p:hover {
    color: #BB945F;
    cursor: pointer;
}


.show {
    display: block;
}

/* modal */

.modal {
    background: rgba(36, 35, 35, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 55;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_vis {
    display: flex; 
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.modal_fade{
    animation: modalHide .4s both;
}

@keyframes modalHide {
    from { transform: translateY(300px);  opacity:1; }
    to { transform: translateY(-300px);  opacity:0; }
}

.body_block {
    overflow: hidden;
    margin-right: 17px;
}

.regist-menu {
    width: 250px;
    height: 382px;
    padding: 20px 25px;
    background-color: #FFF;
    position: relative;
}

.close-registation {
    position: absolute;
    width: 15px;
    height: 15px;
    opacity: 1;
    top: 13px;
    right: 10px;
    transition: all 0.6s;
}

.close-registation:before,
.close-registation:after {
    position: absolute;
    content: ' ';
    height: 21px;
    width: 3px;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-registation:before {
    transform: rotate(45deg);
    transition: transform 0.6s; 
}

.close-registation:after {
    transform: rotate(-45deg);
    transition: transform 0.6s; 
    
}

.close-registation:hover:before{
    background-color: #BB945F;
    transform: rotate(315deg);
}

.close-registation:hover:after{
    background-color: #BB945F;
    transform: rotate(405deg);
}


.regist-menu h3{
    text-align: center;
    color: #000;
    font-family: forum;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding-bottom:20px;
    margin:0;
}

.regist-menu form{
    width:200px;
    margin-bottom:10px;
}

.regist-menu label{
    display:block;
    color: #000;
    font-family: intel-regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.02em;
    margin-bottom: 9px;;
}

.regist-menu input {
    border: 1px solid #BB945F;
    width:200px;
    margin-bottom: 10px;
}

.regist-menu button {
    margin: 0;
    border: 1px solid #000000;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: intel-bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    padding: 0;
    line-height: 30px;
    width: 75px;
    height: 30px;
    transition: all 0.4s ease-out;
}

.regist-menu button:hover {
    background-color: #BB945F;
    border-color: #BB945F;
}

.regist-menu p{
    color: #000;
    font-family: intel-regular;
    font-size: 10px;
    font-weight: 400;
}

.regist-menu .underline{
    color: #000;
    font-family: intel-regular;
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
    font-family: intel-bold;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
}

.regist-menu .underline:hover{
    color:#BB945F;
}


/* login */

.modal-login {
    background: rgba(36, 35, 35, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 55;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_vis {
    display: flex; 
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.body_block {
    overflow: hidden;
    margin-right: 17px;
}

.login-menu {
    width: 250px;
    height: 262px;
    padding: 20px 25px;
    background-color: #FFF;
    position: relative;
}

.login-menu h3{
    text-align: center;
    color: #000;
    font-family: forum;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding-bottom:20px;
    margin:0;
}

.login-menu form{
    width:200px;
    margin-bottom:10px;
}

.login-menu label{
    display:block;
    color: #000;
    font-family: intel-regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.02em;
    margin-bottom: 9px;;
}

.login-menu input {
    border: 1px solid #BB945F;
    width:200px;
    margin-bottom: 10px;
}

.login-menu button {
    margin: 0;
    border: 1px solid #000000;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: intel-bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    padding: 0;
    line-height: 30px;
    width: 75px;
    height: 30px;
    transition: all 0.4s ease-out;
}

.login-menu button:hover {
    background-color: #BB945F;
    border-color: #BB945F;
}

.login-menu p{
    color: #000;
    font-family: intel-regular;
    font-size: 10px;
    font-weight: 400;
}

.login-menu .underline-register{
    color: #000;
    font-family: intel-regular;
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
    font-family: intel-bold;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
}

.login-menu .underline-register:hover{
    color:#BB945F;
}
